.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  padding: 24px;
  margin: 0 auto;
  width: 100%;
  max-width: 100vh;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  padding: 11%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
  justify-content: center;
}


